<html>

   <head>
      <!-- import jquery -->
      <script src="https://s1.pstatp.com/cdn/expire-1-M/jquery/3.4.0/jquery.min.js" type="application/javascript"></script>
      <!-- import bootstrap -->
      <link href="https://s2.pstatp.com/cdn/expire-1-M/twitter-bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
      <script src="https://s1.pstatp.com/cdn/expire-1-M/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" type="application/javascript"></script>
      <link href="https://s0.pstatp.com/cdn/expire-1-M/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" type="text/css" rel="stylesheet" />

      <!-- mobile device -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--socket-->
      <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/toaster.js') }}"></script>
      <script type="text/javascript" charset="utf-8"
         src="{{ url_for('static', filename='/js/websocket.js') }}"></script> 
   </head>
   
   <body>
   <div class="container">
      <div class="row">
         <div id="canvas" class="col-12">
            <img id="map_name" style="position:relative" src="{{ url_for('static', filename = 'img/map/de_inferno.png') }}"/>
         </div>
      </div>
   </div>
   </body>
   
</html>